{% extends 'core/base.html' %}


{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<head>
    <style>
        /* Styles for the modal */
        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for a slight border */
            z-index: 1000; /* Ensure it's above the blurred background */
            display: none; /* Initially hidden */
        }
    </style>
</head>

<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-500"><strong>Author: </strong>{{ item.created_by.username }}</p>
    
        
        {% if item.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong><br>
                {{ item.description }}
            </p>
        {% endif %}


        <p class="mt-2">
            Total Ratings:
            ({{ ratings.count }})
            {% if average_rating is not None %}
                Average Rating:
                {% if average_rating %}{{ average_rating }}{% endif %}
            {% else %}
                No ratings yet.
            {% endif %}
        </p>

        <!-- Conditionally show rating form -->
        {% if request.user != item.created_by %}
            {% if user_rating %}
                <p>You already submitted your rating</p>
            {%else%}
                <h3 class="mt-4">Submit Your Rating:</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ rating_form.as_p }}
                    <button type="submit" class="px-4 py-2 rounded-full bg-teal-500 text-white hover:bg-teal-600 mt-2">Submit Rating</button>
                </form>
                {% if form_submitted %}
                    <div>
                        <div id="vote-submitted-modal" class="modal">
                            <div>
                                <p>Thanks for your vote</p>
                            </div>
                        </div>
                    </div>

                    <script>
                        // Show the custom modal for vote submitted
                        document.getElementById('vote-submitted-modal').style.display = 'block';

                        // Refresh the page after a short delay (adjust the delay as needed)
                        setTimeout(function () {
                            location.reload();
                        }, 1000); // 2000 milliseconds (2 seconds) delay in this example
                    </script>
                {% endif %}

            {% endif %}
        {% endif %}

    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for related_item in related_items %}
            <div>
                <a href="{% url 'item:detail' related_item.id %}">
                    <div>
                        <img src="{{ related_item.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ related_item.name }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
