<!-- item/rating_already_submitted.html -->

{% extends 'core/base.html' %}

{% block content %}
<div id="ratingAlreadySubmittedModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p>You have already submitted a rating for this item.</p>
  </div>
</div>

<script>
// Function to close the modal
function closeModal() {
  var modal = document.getElementById('ratingAlreadySubmittedModal');
  modal.style.display = 'none';
}

// Automatically close the modal after a few seconds (adjust as needed)
setTimeout(closeModal, 5000);
</script>
{% endblock %}
